@import 'variables';

.filter_device {
  padding: 5px;
  margin-bottom: 40px;

  .subscribe {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 15px;

    .subscribe_button {
      border-radius: 25px;
    }
  }

  .expanded {
    display: flex;
    justify-content: center;

    .expanded_button {
      margin-bottom: -30px;
    }
  }
}

.chips_icon {
  margin-left: 5px;
}

.table_header {
  padding: 15px;
  background-color: $primary;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
