table {
  width: 100%;
}

.wrapper {
  padding: 0 10vw;
  display: grid;
  grid-template-rows: auto auto;

  &__tables {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.devices {
  padding-bottom: 10px;
  display: grid;
  grid-template-rows: auto auto;

  &__expander {
    margin-top: -30px;
  }

  &__expander__row {
    margin: auto;
  }

  &__chips__card {
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
  }
}

.card_table {
  padding: 0;

  &_title {
    padding: 10px;
    text-align: center;
  }
}
