<div class="wrapper">
  <div class="wrapper_devices">
    <div class="devices">
      <div class="devices__chips__row">
        <div class="devices__chips">
          <mat-card class="devices__chips__card mat-elevation-z8">
            <div *ngIf="devicesChips.length <= 0" class="subscribe">
              <mat-chip color="accent" selected (click)="openDialog()">
                Please subscribe any devices
                <mat-icon class="chips_icon">check</mat-icon></mat-chip
              >
            </div>
            <mat-chip-list *ngIf="devicesChips.length > 0">
              <mat-chip
                color="primary"
                selected
                [removable]="true"
                (click)="remove(deviceName)"
                *ngFor="let deviceName of devicesChips"
                >{{ deviceName }}
                <mat-icon class="chips_icon">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-card>
        </div>
      </div>
      <div class="devices__expander__row">
        <div class="devices__expander">
          <button (click)="openDialog()" mat-fab color="primary">
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper__tables">
    <div class="table__content" *ngFor="let item of [].constructor(5)">
      <mat-card class="card_table mat-elevation-z8">
        <mat-card-title class="card_table_title">Devices name</mat-card-title>
        <mat-card-content>
          <table mat-table [dataSource]="dataSource">
            <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{ element.position }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef>Weight</th>
              <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef>Symbol</th>
              <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
