@import "variables";

.wrapper {
  display: grid;
  grid-template-rows: auto auto;

  &_tables {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  &_devices {
    .devices {
      padding-bottom: 10px;
      display: grid;
      grid-template-rows: auto auto;

      &_expander {
        margin-top: -30px;
      }

      &_expander_row {
        margin: auto;
      }

      &_chips_card {
        padding-bottom: 35px;
        display: flex;
        justify-content: center;
      }
    }
  }
}

.card_table {
  padding: 0;

  &_title {
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
    color: #ffffff;
    background-color: $brand-color;
  }
}

.chips_icon {
  margin-left: 5px;
}
