<div class="header">{{ getHeader() }}</div>
<form #versionDetailForm="ngForm" class="wrapper mat-elevation-z4" (ngSubmit)="onSubmitClick(versionDetailForm)">
  <mat-form-field appearance="outline">
    <mat-label>MacAddress</mat-label>
    <input
      matInput
      placeholder="MacAddress"
      name="macAddress"
      [(ngModel)]="dataModel.macAddress"
      [disabled]="isPassMacAddress || !isCreatedMode"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" name="name" [(ngModel)]="dataModel.name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Icon</mat-label>
    <input matInput placeholder="Icon" name="icon" [(ngModel)]="dataModel.icon" />
  </mat-form-field>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Kind</mat-label>
      <mat-select [(ngModel)]="dataModel.kindId" name="kind">
        <mat-option *ngFor="let kind of kinds$ | async" [value]="kind.id">
          {{ kind.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>DeviceComponent</mat-label>
      <mat-select [(ngModel)]="dataModel.deviceComponentId" name="deviceComponent">
        <mat-option *ngFor="let deviceComponent of deviceComponents$ | async" [value]="deviceComponent.id">
          {{ deviceComponent.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Specific version</mat-label>
      <mat-select [(ngModel)]="dataModel.versionId" name="version" [disabled]="isAutoUpdate()">
        <mat-option *ngFor="let version of versions$ | async" [value]="version.id">
          {{ version.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-button-toggle-group class="button_group" [(ngModel)]="autoUpdateGroupValue" name="group">
      <mat-button-toggle class="flex_item" value="specific">Specific</mat-button-toggle>
      <mat-button-toggle (click)="onClearVersionClick()" class="flex_item" value="auto">Auto</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <button mat-raised-button color="primary" type="submit">
    {{ getSubmitButtonName() }}
  </button>
</form>
