<div class="container">
    <div class="row m-4">
  
      <div *ngFor="let category of categories" class="col-sm-3">
        <div class="card text-white bg-dark mb-3 hoverCard text-center" [routerLink]="['/categories/', category.Id]">
          <div class="card-body">
            <i class="{{category.FontAwesome}}"></i>
          </div>
          <div class="card-footer">
            <div class="card-text">{{category.Name | uppercase}}</div>
          </div>
        </div>
      </div>
  
    </div>
  </div>