@import "_variables";

.wrapper {
  min-width: 250px;
  display: grid;
  grid-template-rows: auto auto;
}

mat-nav-list {
  padding-top: 0px;
}

.logo-wrapper {
  background-color: $brand-color;
}

.logo {
  margin: 10px 35px;
}
