<div *ngIf="user$ | async as user" fxLayout="row wrap">
  <mat-selection-list fxFlex fxFlexAlign="start" class="menu-list flex-margin mat-elevation-z8" [multiple]="false">
    <div fxLayout="row" class="header"><i class="fas fa-user fa-fw"></i>{{ user.username | uppercase }}</div>
    <mat-list-option
      [routerLink]="['/admin/users/' + user.id + '/informations']"
      [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i mat-list-icon class="fas fa-id-card fa-fw"></i>
      <div>Information</div>
    </mat-list-option>
    <mat-list-option
      [routerLink]="['/admin/users/' + user.id + '/settings']"
      [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i mat-list-icon class="fas fa-user-cog fa-fw"></i>
      <div>Settings</div>
    </mat-list-option>
  </mat-selection-list>

  <mat-card fxFlex fxGrow="3" class="flex-margin mat-elevation-z8">
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>
