<div class="header">{{ getHeader() }}</div>
<form #versionDetailForm="ngForm" class="wrapper mat-elevation-z4" (ngSubmit)="onSubmitClick(versionDetailForm.value)">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" name="name" required [(ngModel)]="name" />
  </mat-form-field>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Major</mat-label>
      <input matInput type="number" placeholder="Major" name="major" required [(ngModel)]="major" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Minor</mat-label>
      <input matInput type="number" placeholder="Minor" name="minor" required [(ngModel)]="minor" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Patch</mat-label>
      <input matInput type="number" placeholder="Patch" name="patch" required [(ngModel)]="patch" />
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Kind</mat-label>
      <mat-select matInput placeholder="Kind" name="kindId" [(ngModel)]="kindId">
        <mat-option *ngFor="let kind of kinds$ | async" [value]="kind.id">{{ kind.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Component</mat-label>
      <mat-select matInput placeholder="Component" name="deviceComponentId" [(ngModel)]="deviceComponentId">
        <mat-option *ngFor="let deviceComponent of deviceComponents$ | async" [value]="deviceComponent.id">{{
          deviceComponent.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <label [ngClass]="!isCreatedMode ? 'disable-file' : ''" class="file mat-elevation-z4">
    <input
      type="file"
      id="file"
      style="display: none"
      #file
      (change)="handleFileInput($event.target.files)"
      [disabled]="!isCreatedMode"
    />
    <div class="cutom-file">
      <div class="text-file">{{ getInputFileText() }}</div>
      <button
        class="file-button"
        mat-raised-button
        color="primary"
        type="button"
        (click)="file.click()"
        [disabled]="!isCreatedMode"
      >
        Browse
      </button>
    </div>
  </label>

  <button mat-raised-button color="primary" type="submit">
    {{ getSubmitButtonName() }}
  </button>
</form>
