<div class="container mat-app-background" fxLayout="wrap column" fxLayoutAlign="center center">
  <div fxFlex class="icon-svg-wrapper" fxHide.lt-md>
    <img class="icon-svg" src="./assets/img/registration.svg" />
  </div>
  <mat-card fxFlex class="mat-elevation-z8">
    <div fxLayout="row wrap" class="logo-wrapper" fxLayoutAlign="center center">
      <img fxFlex="1 1 auto" class="avatar" src="./assets/img/avatar.svg" />
      <svg fxFlex="1 1 auto" viewBox="0 0 404.87 85.16" x="0px" y="0px" height="52px" style="fill: #ffffff">
        <use xlink:href="./assets/img/logo.svg#micro" />
      </svg>
    </div>
    <mat-spinner class="spinner" *ngIf="isLoading | async"></mat-spinner>
    <form *ngIf="!(isLoading | async)" #f="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="model.username" name="username" required />
        <i matSuffix class="fas fa-sign-in-alt fa-fw icon-suffix"></i>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" [(ngModel)]="model.email" name="email" required />
        <i matSuffix class="fas fa-at fa-fw icon-suffix"></i>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" [(ngModel)]="model.password" name="password" required />
        <i matSuffix class="fas fa-lock fa-fw icon-suffix"></i>
      </mat-form-field>

      <div class="button-border-radius" fxLayout="row" fxLayoutGap="10px">
        <button fxFlex mat-raised-button color="warn" routerLink="/login" type="button">
          Login <i class="fas fa-key fa-fw"></i>
        </button>
        <button [disabled]="f.invalid" fxFlex mat-raised-button color="primary" type="submit">
          Sign up <i class="fas fa-user-plus fa-fw"></i>
        </button>
      </div>
    </form>
  </mat-card>
</div>
