.container {
  height: 100%;
}

mat-form-field {
  width: 100%;
}

mat-card {
  margin: 0 10vw;
}

.icon-suffix {
  position: relative;
  top: -0.25rem;
}

.logo-wrapper {
  margin: 10px;
  .avatar {
    max-height: 90px;
  }
}

.icon-svg-wrapper {
  text-align: center;

  .icon-svg {
    max-width: 40vw;
    margin-left: 100px;
  }
}

.button-border-radius {
  button {
    border-radius: 25px;
  }
}
