.container {
  height: 100%;
  background-color: whitesmoke;
}

mat-form-field {
  width: 100%;
}

mat-card {
  margin: 0 10vw;
}

.icon-suffix {
  position: relative;
  top: -0.25rem;
}

.logo-wrapper {
  .logo {
    width: 100%;
    opacity: 0.9;
    max-height: 150px;
  }
  .avatar {
    max-height: 90px;
  }
}

.icon-svg-wrapper {
  text-align: center;
}
