<div class="container" fxLayout="wrap column" fxLayoutAlign="center center">
  <div fxFlex class="icon-svg-wrapper" fxHide.lt-md>
    <img class="icon-svg" src="./assets/img/bg.svg" />
  </div>
  <mat-card fxFlex class="mat-elevation-z8">
    <form #f="ngForm" (ngSubmit)="login()">
      <div fxLayout="row wrap" class="logo-wrapper" fxLayoutAlign="center center">
        <img fxFlex="1 1 auto" class="avatar" src="./assets/img/avatar.svg" />
        <img fxFlex="1 1 auto" class="logo" src="./assets/img/logo-black.svg" />
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Username/Email</mat-label>
        <input
          matInput
          required
          type="text"
          class="input"
          placeholder="Username/Email"
          [(ngModel)]="model.username"
          name="username"
        />
        <i matSuffix class="fas fa-sign-in-alt fa-fw icon-suffix"></i>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput required type="password" placeholder="Password" [(ngModel)]="model.password" name="password" />
        <i matSuffix class="fas fa-lock fa-fw icon-suffix"></i>
      </mat-form-field>

      <div class="button-border-radius" fxLayout="row" fxLayoutGap="10px">
        <button type="button" fxFlex mat-raised-button routerLink="/registration" color="warn">
          Sign up <i class="fas fa-user-plus fa-fw"></i>
        </button>
        <button [disabled]="f.invalid" type="submit" fxFlex mat-raised-button color="primary" routerLink="/login">
          Login <i class="fas fa-key fa-fw"></i>
        </button>
      </div>
    </form>
  </mat-card>
</div>
