<div class="container">
  <div class="img">
    <img src="./assets/img/bg.svg" />
  </div>
  <div class="login-content">
    <form action="index.html" #form="ngForm" (ngSubmit)="login()" autocomplete="off">
      <img src="./assets/img/avatar.svg" />
      <img src="./assets/img/logo-black.svg" />
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <input
            required
            type="text"
            class="input"
            placeholder="Username"
            [(ngModel)]="model.username"
            name="username"
          />
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <input
            required
            type="password"
            class="input"
            placeholder="Password"
            [(ngModel)]="model.password"
            name="password"
          />
        </div>
      </div>
      <input [disabled]="!form.valid" type="submit" class="btn" value="Login" />
    </form>
  </div>
</div>
