.wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 5fr;
}

.container {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
}

.tab-icon {
  padding-right: 8px;
}

.cell-button {
  margin-left: 10px;
}

.text_icon {
  vertical-align: middle;
  margin-right: 10px;
}
