<div class="mat-elevation-z8">
  <div class="filter_container">
    <mat-form-field class="filter_input">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. address" #input />
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" class="table-full-width">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="text_icon">{{ element.icon }}</mat-icon
        >{{ element.name }}
      </td></ng-container
    >
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">
        {{ element.address }}
      </td></ng-container
    >

    <ng-container matColumnDef="kind">
      <th mat-header-cell *matHeaderCellDef>Kind</th>
      <td mat-cell *matCellDef="let element">
        {{ element.kind }}
      </td></ng-container
    >
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">
        {{ element.category }}
      </td></ng-container
    >
    <ng-container matColumnDef="component">
      <th mat-header-cell *matHeaderCellDef>Component</th>
      <td mat-cell *matCellDef="let element">
        {{ element.component }}
      </td></ng-container
    >
    <!-- Actions Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/admin/devices/' + element.id]" class="cell-button" mat-mini-fab color="primary">
          <mat-icon>settings</mat-icon>
        </a>
        <button class="cell-button" mat-mini-fab color="primary" (click)="onRemoveClick(element.id)">
          <mat-icon>clear</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="devicesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: devicesColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
