@import "variables";

.content_wrapper {
  display: flex;
  flex-flow: row wrap;

  .left {
    flex: 1;
  }

  .right {
    flex: 4;
  }
}

.selection_list {
  mat-list-option[aria-selected="true"] {
    background: $brand-color;
    color: #ffffff;
  }
}

.list_option {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-gap: 10px;

  button {
    margin: 5px 0;
  }
}
