<div (click)="isShow = !isShow" class="icon-container mat-elevation-z4">
  <div class="icon-text">
    <i [ngClass]="[icon ? icon : '', 'icon-text-margin']"></i>
    {{ icon ? icon : 'Choose icon' }}
  </div>
  <button class="icon-button" mat-raised-button color="primary" type="button">Icon</button>
</div>

<mat-card class="mat-elevation-z8" *ngIf="isShow" (click)="$event.stopPropagation()">
  <i [ngClass]="icon" class="mat-elevation-z2 icon-picker" *ngFor="let icon of icons" (click)="updateIcon(icon)"></i>
</mat-card>
