<div (click)="isShow = !isShow" class="icon-container mat-elevation-z4">
  <div class="icon-text">
    <mat-icon [ngClass]="icon ? 'icon-text-margin' : ''">{{ icon }}</mat-icon
    >{{ icon ? icon : 'Choose icon' }}
  </div>
  <button class="icon-button" mat-raised-button color="primary" type="button">Icon</button>
</div>

<mat-card class="mat-elevation-z8" *ngIf="isShow" (click)="$event.stopPropagation()">
  <mat-icon class="mat-elevation-z2" [inline]="true" *ngFor="let icon of icons" (click)="updateIcon(icon)">{{
    icon
  }}</mat-icon>
</mat-card>
