<div (click)="isShow = !isShow" class="icon-container mat-elevation-z4">
  <div class="icon-text">
    <i [ngClass]="[icon ? icon : '', 'icon-text-margin']"></i>
    {{ icon ? icon : 'Choose icon' }}
  </div>
  <button class="icon-button" mat-raised-button color="primary" type="button">Icon</button>
</div>

<div class="modal-icons" *ngIf="isShow">
  <mat-card fxLayout="row wrap" fxLayoutAlign="center" class="mat-elevation-z8" (click)="$event.stopPropagation()">
    <i [ngClass]="icon" class="mat-elevation-z2 icon-picker" *ngFor="let icon of icons" (click)="updateIcon(icon)"></i>
  </mat-card>
</div>
