.icon-container {
  min-height: 50px;
  border-radius: 2px 2px 45px 0px;
  display: flex;
  flex-flow: row nowrap;

  .icon-text {
    flex: 3;
    display: flex;
    align-items: center;

    .icon-text-margin {
      margin: {
        left: 15px;
        right: 10px;
      }
    }
  }

  .icon-button {
    border-radius: 45px 0px 45px 0px;
    max-width: 300px;
    flex: 1;
  }
}

mat-card {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  z-index: 1;
  margin-left: 10vw;
  margin-right: 10vw;

  mat-icon {
    border-radius: 15px;
    font-size: 35px;
    padding: 10px;
    margin: 5px;
    &:hover {
      background-color: #cccccc;
      cursor: pointer;
    }
  }
}
