.picker_button {
  width: 100%;
  height: 100%;
}

mat-card {
  position: absolute;
  top: 75px;
  left: 0;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  z-index: 1;
  margin-left: 10vw;
  margin-right: 10vw;

  mat-icon {
    border-radius: 15px;
    font-size: 35px;
    padding: 10px;
    margin: 5px;
    &:hover {
      background-color: #cccccc;
      cursor: pointer;
    }
  }
}
