<div class="container">
  <div class="mat-elevation-z4">
    <nav mat-tab-nav-bar backgroundColor="primary">
      <a
        mat-tab-link
        [routerLink]="tabItem.Path"
        *ngFor="let tabItem of tabItems"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ tabItem.Name }}
      </a>
    </nav>
    <div class="content_wrapper">
      <div class="left mat-elevation-z4">
        <mat-selection-list
          class="selection_list"
          [multiple]="false"
          #lists
          (selectionChange)="onSelectionChange()"
          [(ngModel)]="selectedItems"
        >
          <mat-list-option
            *ngFor="
              let item of adminDeviceInformationService?.dataSource | async
            "
            [value]="item"
          >
            <div class="list_option">
              {{ item.name }}
              <button
                class="mat-elevation-z4"
                mat-mini-fab
                color="warn"
                (click)="onRemoveClick(item); $event.stopPropagation()"
              >
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            <mat-icon mat-list-icon>developer_board</mat-icon>
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div class="right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
