<div class="container">
  <div class="mat-elevation-z4">
    <mat-tab-group backgroundColor="primary">
      <mat-tab label="Kind">
        <ng-template matTabContent>
          <app-admin-kind-base></app-admin-kind-base>
        </ng-template>
      </mat-tab>
      <mat-tab label="Category">
        <ng-template matTabContent>
          <app-admin-category-base></app-admin-category-base>
        </ng-template>
      </mat-tab>
      <mat-tab label="Component">
        <ng-template matTabContent>
          <app-admin-component-base></app-admin-component-base>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
