<a routerLink="/">
  <div fxLayout="column" class="logo" (click)="onClose()">
    <svg viewBox="0 0 404.87 85.16" x="0px" y="0px" height="42px" style="fill: var(--text-color)">
      <use xlink:href="./assets/img/logo.svg#micro" />
    </svg>
    <div class="logo-user">{{ (authService.currentUser$ | async)?.username | uppercase }}</div>
  </div>
</a>
<mat-nav-list (click)="onClose()">
  <mat-divider></mat-divider>
  <div *ngFor="let group of menuGroups">
    <div class="subheader-div">
      <span class="subheader-text">{{ group.group }}</span>
    </div>
    <div *ngIf="group?.items?.length > 0; else groupWithoutItems">
      <div *ngFor="let item of group.items">
        <a mat-list-item routerLink="{{ item.path }}">
          <i [ngClass]="[item.icon, 'fa-fw']"></i>
          {{ item.title }}
        </a>
        <mat-divider></mat-divider>
      </div>
    </div>
    <ng-template #groupWithoutItems>
      <a mat-list-item routerLink="{{ group.path }}">
        <i [ngClass]="[group.icon, 'fa-fw']"></i>
        {{ group.group }}
      </a>
      <mat-divider></mat-divider>
    </ng-template>
  </div>
  <!-- Logout section -->
  <div class="subheader-div">
    <span class="subheader-text">Logout</span>
  </div>
  <a mat-list-item (click)="onLogout()" routerLink="/login">
    <i class="fas fa-sign-out-alt fa-fw"></i>
    Logout
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
