mat-nav-list {
  padding: 0;
}

.subheader-div {
  padding: 10px 15px;
  .subheader-text {
    font-size: 1.1rem;
  }
}

.logo {
  background-color: var(--primary-500);
  padding: 15px;
  &-user {
    margin-top: 10px;
    font-size: 1.4rem;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}
