<div class="list-group">
  <a
    class="list-group-item list-group-item-action"
    [routerLink]="['/admin']"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    >Panel</a
  >
  <a
    class="list-group-item list-group-item-action"
    [routerLink]="['/admin/devices']"
    [routerLinkActive]="['active']"
    >Urządzenia</a
  >
  <a
    class="list-group-item list-group-item-action"
    [routerLink]="['/admin/versions']"
    [routerLinkActive]="['active']"
    >Wersje</a
  >
</div>
