@import 'functions';
@import '~@angular/material/theming';
@include mat-core();

.dark-theme {
  // Dark theme
  $dark-primary: mat-palette($mat-deep-purple);
  $dark-accent: mat-palette($mat-purple);
  $dark-warn: mat-palette($mat-red);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include generate-theme-vars($dark-theme);
}

.light-theme {
  // Light theme
  $light-primary: mat-palette($mat-indigo);
  $light-accent: mat-palette($mat-blue);
  $light-warn: mat-palette($mat-red);

  $light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
  @include angular-material-theme($light-theme);
  @include generate-theme-vars($light-theme);
}
