<div class="header">{{ getHeader() }}</div>
<form
  #versionDetailForm="ngForm"
  class="wrapper mat-elevation-z4"
  (ngSubmit)="onSubmitClick(versionDetailForm)"
>
  <mat-form-field appearance="outline">
    <mat-label>MacAddress</mat-label>
    <input
      matInput
      placeholder="MacAddress"
      ngModel
      name="macAddress"
      [(ngModel)]="macAddress"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" ngModel name="name" [(ngModel)]="name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Photo Url</mat-label>
    <input
      matInput
      placeholder="Photo Url"
      ngModel
      name="photoUrl"
      [(ngModel)]="photoUrl"
    />
  </mat-form-field>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Kind</mat-label>
      <mat-select [(ngModel)]="kind" name="kind">
        <mat-option *ngFor="let kind of kinds$ | async" [value]="kind">
          {{ kind.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Component</mat-label>
      <mat-select [(ngModel)]="deviceComponent" name="component">
        <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name">
          <mat-option
            *ngFor="let pokemon of group.pokemon"
            [value]="pokemon.value"
          >
            {{ pokemon.viewValue }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Specific version</mat-label>
      <mat-select
        [(ngModel)]="version"
        name="version"
        [disabled]="isAutoUpdate()"
      >
        <mat-option *ngFor="let food of ['foods', 'food2']" [value]="food">
          {{ food }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-button-toggle-group
      class="button_group"
      [(ngModel)]="autoUpdateGroupValue"
      name="group"
    >
      <mat-button-toggle class="flex_item" value="specific"
        >Specific</mat-button-toggle
      >
      <mat-button-toggle
        (click)="onClearVersionClick()"
        class="flex_item"
        value="auto"
        >Auto</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <button mat-raised-button color="primary" type="submit">
    {{ getSubmitButtonName() }}
  </button>
</form>
