<div class="header">{{ getHeader() }}</div>
<form
  #versionDetailForm="ngForm"
  class="wrapper mat-elevation-z4"
  (ngSubmit)="onSubmitClick(versionDetailForm)"
>
  <mat-form-field appearance="outline">
    <mat-label>MacAddress</mat-label>
    <input matInput placeholder="MacAddress" ngModel name="macAddress" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" ngModel name="name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Photo Url</mat-label>
    <input matInput placeholder="Photo Url" ngModel name="photoUrl" />
  </mat-form-field>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of ['foods', 'food2']" [value]="food">
          {{ food }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of ['foods', 'food2']" [value]="food">
          {{ food }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of ['foods', 'food2']" [value]="food">
          {{ food }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of ['foods', 'food2']" [value]="food">
          {{ food }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-button-toggle-group aria-label="Font Style" class="button_group">
      <mat-button-toggle class="flex_item" value="bold">Auto</mat-button-toggle>
      <mat-button-toggle class="flex_item" value="italic"
        >Specific</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <button mat-raised-button color="primary" type="submit">
    {{ getSubmitButtonName() }}
  </button>
</form>
