.wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 5fr;
}

.container {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
}

mat-icon {
  padding-right: 8px;
}

table {
  width: 100%;
}
