.container__grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;

  .filter__row {
    mat-card {
      width: 100%;
      .filter__controls {
        display: flex;
        justify-content: center;
      }
    }
  }
  .devices__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    mat-card {
      width: 100%;
      .filter__controls {
        display: flex;
        justify-content: center;
        justify-content: space-around;
      }
    }
  }
}
