<form
  #kindCreateForm="ngForm"
  class="wrapper"
  (submit)="onSubmitClick(kindCreateForm)"
>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" ngModel name="name" required />
  </mat-form-field>

  <div class="row">
    <button mat-raised-button class="mat-elevation-z4" type="button">
      Clear
    </button>
    <button
      mat-raised-button
      class="mat-elevation-z4"
      color="warn"
      type="button"
    >
      Reset
    </button>
    <button
      mat-raised-button
      class="mat-elevation-z4"
      color="primary"
      type="submit"
    >
      Submit
    </button>
  </div>
</form>
