.row {
  padding-left: 0px;
  display: grid;
  grid-template-columns: 60px auto;
  border-radius: 5px;

  i {
    border-radius: 5px 0 0 5px;
    background-color: var(--primary-500);
    color: var(--text-color);
    padding: 16px;
    margin: 0;
  }

  span {
    margin: 0 15px;
    overflow-wrap: anywhere;
    align-self: center;
  }
}
