<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Micro</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/scanners']">Skanery</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/locators']">Lokalizatory</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Witaj {{ authService.decodedToken?.unique_name | titlecase }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/admin']"><i class="fa fa-cog"></i> Administracja</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Wyloguj</a>
      </div>
    </div>
  </div>
</nav>
