<mat-toolbar color="primary">
  <div>
    <a routerLink="/">
      <img class="logo" src="./assets/img/logo-white.svg" />
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <div fxLayout fxLayoutGap="10px">
      <app-menu-button *ngFor="let group of menuGroups" [group]="group"></app-menu-button>
      <!-- Logout section -->
      <button mat-raised-button color="warn" (click)="onLogout()" routerLink="/login">
        <i class="fas fa-sign-out-alt fa-fw"></i>
        Logout
      </button>
    </div>
  </div>
  <div fxFlex fxLayoutAlign="flex-end" fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</mat-toolbar>
