.cell-button {
  margin-left: 10px;
}

.text_icon {
  vertical-align: middle;
  margin-right: 10px;
}

.button_space {
  margin-left: 10px;
}

.cell_icon {
  vertical-align: middle;
  margin-right: 10px;
}

.filter_input {
  margin-top: 5px;
  width: 100%;
}
