<form #form="ngForm">
  <div class="wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" name="name" [(ngModel)]="model.name" [disabled]="model.id" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Icon</mat-label>
      <input matInput placeholder="Icon" name="icon" [(ngModel)]="model.icon" />
    </mat-form-field>
  </div>
  <div class="row_button">
    <button mat-raised-button class="mat-elevation-z4" type="button" (click)="onClearClick()">Clear</button>
    <button mat-raised-button class="mat-elevation-z4" color="primary" type="submit" (click)="onSubmitClick()">
      Submit
    </button>
  </div>
</form>
