<div class="container">
  <div class="row">
    <div class="mt-4 col" *ngIf="(tables | json) == '{}'">
      <div class="card bg-dark text-white text-center">
        <div class="card-header">
          <div class="card-text">Informacja</div>
        </div>
        <div class="card-body">
          <div class="card-text">
            Aktualnie żadne urządzenie nie wysyła informacji! <br />
            Gdy tylko odbierzemy dane z urządzeń wyświetlimy je dla Ciebie.
          </div>
        </div>
      </div>
    </div>
    <div class="col" *ngIf="(tables | json) != '{}'">
      <div class="mt-4 col-lg-6" *ngFor="let item of tables | keyvalue">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Time</th>
              <th scope="col">Address</th>
              <th scope="col">RSSI</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let value of item.value">
              <td scope="row">{{ item.key }}</td>
              <td scope="row">{{ value.time }}</td>
              <td scope="row">{{ value.address }}</td>
              <td scope="row">{{ value.rssi }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
