<mat-toolbar color="primary">
  <div class="mobile">
    <div class="nav-layout">
      <a mat-button routerLink="/home"
        ><img class="logo" src="./assets/img/logo-white.svg"
      /></a>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="openSideNavbar()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  <div class="desktop">
    <div class="nav-layout">
      <a mat-button routerLink="/home"
        ><img class="logo" src="./assets/img/logo-white.svg"
      /></a>
      <div *ngFor="let navMenuItem of navMenuItems">
        <a mat-button routerLink="{{ navMenuItem.path }}">
          <mat-icon>{{ navMenuItem.icon }}</mat-icon> {{ navMenuItem.title }}
        </a>
      </div>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div *ngFor="let navExpandedMenuItem of navExpandedMenuItems">
          <button mat-menu-item routerLink="{{ navExpandedMenuItem.path }}">
            <mat-icon>{{ navExpandedMenuItem.icon }}</mat-icon>
            <span>{{ navExpandedMenuItem.title }}</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
