<form #form="ngForm">
  <div class="wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" name="name" required [(ngModel)]="model.name" [disabled]="model.id" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Icon</mat-label>
      <input matInput placeholder="Icon" name="icon" required [(ngModel)]="model.icon" />
    </mat-form-field>

    <mat-expansion-panel [expanded]="model.isExpanded" (opened)="model.isExpanded = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ getCategoryiesFieldHeader() }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list name="category" [(ngModel)]="model.categoryId" [multiple]="false">
        <mat-list-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </div>
  <div class="row_button">
    <button mat-raised-button class="mat-elevation-z4" type="button" (click)="onClearClick(form)">Clear</button>
    <button mat-raised-button class="mat-elevation-z4" color="primary" type="submit" (click)="onSubmitClick(form)">
      Submit
    </button>
  </div>
</form>
