<form
  #componentCreateForm="ngForm"
  class="wrapper"
  (submit)="onSubmitClick(componentCreateForm)"
>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" ngModel name="name" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fontawesome</mat-label>
    <input matInput placeholder="Fontawesome" ngModel name="fontawesome" />
  </mat-form-field>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ getCategoryiesFieldHeader() }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list
      name="category"
      ngModel
      [(ngModel)]="selectedCategory"
      [multiple]="false"
    >
      <mat-list-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>
</form>
