html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.fa,
.fas {
  font-size: 1.3rem;
  margin: 0px 10px;
}

.table-brand-header {
  th {
    background-color: var(--primary-color);
    color: #ffffff !important;
  }
}

.spinner {
  margin: 30px auto;
}

.overflow-table-actions {
  overflow: auto;

  table {
    width: 100%;

    th,
    td {
      padding: 0px 10px;
    }

    tr td:first-child,
    tr th:first-child {
      text-align: center;
      width: 1%;
      white-space: nowrap;
    }

    button {
      margin-right: 10px;
      i {
        margin: auto;
      }
    }
  }
}

.overflow-table {
  overflow: auto;

  table {
    width: 100%;

    th,
    td {
      padding: 10px;
    }
  }
}
