// Fontawesome
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import 'variables';

.fa,
.fas {
  margin: {
    left: 5px;
    right: 5px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.shadow {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

.btn-shadow {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.table-full-width {
  width: 100%;

  th:last-child {
    text-align: center;
  }

  tr td:last-child {
    text-align: center;
    width: 1%;
    white-space: nowrap;
  }
}

.table-brand-header {
  th {
    background-color: $primary;
    color: #ffffff;
  }
}
