<div *ngIf="group?.items?.length > 0; else withoutDropdown">
  <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
    <i [ngClass]="group.icon"></i>
    {{ group.group }}
  </button>
  <mat-menu #menu="matMenu">
    <div *ngFor="let item of group.items">
      <button mat-menu-item [routerLink]="item.path">
        <i [ngClass]="[item.icon, 'fa-fw']"></i>
        {{ item.title }}
      </button>
    </div>
  </mat-menu>
</div>
<ng-template #withoutDropdown>
  <button mat-raised-button color="primary" [routerLink]="group.path">
    <i [ngClass]="group.icon"></i>
    {{ group.group }}
  </button>
</ng-template>
