<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card bg-dark text-white">
        <div class="card-header">
          <div class="card-text">Dodaj urządzenie:</div>
        </div>
        <div class="card-body">
          <form #deviceForm="ngForm">
            <div class="form-row mb-3">
              <div class="col">
                <input type="text" class="form-control" placeholder="Nazwa" name="name" ngModel required />
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col">
                <input type="text" class="form-control" placeholder="Adres MAC" name="macAddress" ngModel required />
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-6">
                <select required [ngModel]="null" ngModel name="typeId" class="custom-select">
                  <option [value]="null" disabled>Wybierz typ...</option>
                  <option *ngFor="let type of types" [value]="type.id">{{type.type}}</option>
                </select>
              </div>
              <div class="col-6">
                <select required [ngModel]="null" ngModel name="kindId" class="custom-select">
                  <option [value]="null" disabled>Wybierz rodzaj...</option>
                  <option *ngFor="let kind of kinds" [value]="kind.id">{{kind.kind}}</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <button class="btn btn-danger btn-block" (click)="deviceForm.resetForm()">
                  Wyczyść
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-success btn-block" [disabled]=" !deviceForm.valid"
                  (click)="addDevice(deviceForm)">Dodaj</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6 mb-3">
      <div class="card bg-dark text-white">
        <div class="card-header">
          <div class="card-text">Dodaj typ:</div>
        </div>
        <div class="card-body">
          <form #typeForm="ngForm">
            <div class="form-row mb-3">
              <div class="col">
                <input type="text" class="form-control" placeholder="Nazwa" name="type" ngModel required />
              </div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <button class="btn btn-danger btn-block" (click)="typeForm.resetForm()">
                  Wyczyść
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-success btn-block" [disabled]=" !typeForm.valid"
                  (click)="addType(typeForm)">Dodaj</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6 mb-3">
      <div class="card bg-dark text-white">
        <div class="card-header">
          <div class="card-text">Dodaj rodzaj:</div>
        </div>
        <div class="card-body">
          <form #kindForm="ngForm">
            <div class="form-row mb-3">
              <div class="col">
                <input type="text" class="form-control" placeholder="Rodzaj" name="kind" ngModel required />
              </div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <button class="btn btn-danger btn-block" (click)="kindForm.resetForm()">
                  Wyczyść
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-success btn-block" [disabled]=" !kindForm.valid"
                  (click)="addKind(kindForm)">Dodaj</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
