.wrapper {
  display: flex;
  flex-flow: row wrap;
  grid-gap: 15px;
}

.panel {
  flex: 1;

  .panel-header-icon {
    padding: 30px;
    font-size: 5rem;
    text-align: center;
  }
}

.container {
  flex: 3;
}
