.panel-header-icon {
  text-align: center;
  i {
    padding: {
      top: 14px;
      right: 30px;
      left: 30px;
      bottom: 30px;
    }
    font-size: 5rem;
  }
}

.filter_input {
  width: 100%;
}

.filter_container {
  margin: {
    right: 15px;
    left: 15px;
  }
}

.div-margin {
  margin: 0 10px;
}

.information-wrapper {
  margin: 0 10px;
  border-radius: 5px;

  .information-row {
    display: grid;
    grid-template-columns: [left] auto [space] 1px [right] 1fr;

    i {
      margin: 15px;
      align-self: center;
    }

    span {
      margin: 10px;
      align-self: center;
      font-size: 1.2rem;
    }
  }
}
