.panel-header-icon {
  text-align: center;
  i {
    padding: {
      top: 14px;
      right: 30px;
      left: 30px;
      bottom: 30px;
    }
    font-size: 5rem;
  }
}

.filter_container {
  padding: 15px;
  .filter_input {
    width: 100%;
  }
}

.div-margin {
  margin: 0 10px;
}

::ng-deep .tooltip {
  background-color: var(--primary-color);
  font-size: 1rem;
}

.information-wrapper {
  margin: 0 10px;
  margin-bottom: 10px;
  border-radius: 5px;

  .information-row {
    display: grid;
    grid-template-columns: [left] 70px [space] 1px [right] 1fr;
    grid-template-rows: 62px;

    i {
      font-size: 2rem;
      padding: 15px;
      margin: 0;
      align-self: center;
    }

    span {
      margin: 10px;
      align-self: center;
      font-size: 1.2rem;
    }
  }
}
