<div class="container">
  <div class="row mt-4 mr-2 ml-2">
    <div class="col-xl-4 mb-3">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <img src="{{ device?.photoUrl }}" alt="" />
        </div>
        <div class="card-footer">
          <p class="card-text">Adres MAC : {{ device?.macAddress }}</p>
        </div>
        <div class="card-footer">
          <p class="card-text">Nazwa : {{ device?.name }}</p>
        </div>
        <div class="card-footer">
          <p class="card-text">Rodzaj : {{ device?.kind }}</p>
        </div>
        <div class="card-footer">
          <p class="card-text">Typ : {{ device?.type }}</p>
        </div>
        <div class="card-footer">
          <p class="card-text">Aktualna wersja: {{ device?.versionId }}</p>
        </div>
        <div class="card-footer">
          <p class="card-text">
            Data utworzenia: {{ device?.created | date: "medium" }}
          </p>
        </div>
        <div class="card-footer">
          <p class="card-text">
            Data modyfikacji: {{ device?.modified | date: "medium" }}
          </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-danger btn-block">Usuń</button>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card text-white bg-dark">
        <div class="card-header">
          <div class="card-text">Ustawienia</div>
        </div>
        <div class="card-body">
          <form #settingForm="ngForm">
            <div class="form-row mb-3">
              <div class="col">
                <label for="">Nazwa:</label>
                <input type="text" class="form-control" placeholder="Nazwa..." ngModel name="name" />
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-6">
                <label for="">Typ:</label>
                <select [ngModel]="null" ngModel name="typeId" class="custom-select">
                  <option [value]="null" disabled>Wybierz typ...</option>
                  <option *ngFor="let type of types" [value]="type.id">{{type.type}}</option>
                </select>
              </div>
              <div class="col-6">
                <label for="">Rodzaj:</label>
                <select [ngModel]="null" ngModel name="kindId" class="custom-select">
                  <option [value]="null" disabled>Wybierz rodzaj...</option>
                  <option *ngFor="let kind of kinds" [value]="kind.id">{{kind.kind}}</option>
                </select>
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-xl-8">
                <label for="">Wersja:</label>
                <div *ngIf="data.autoUpdate">
                  <label class="btn btn-secondary bg-secondary btn-block text-white disableHover">Automatyczna
                    aktualizacja</label>
                </div>
                <select *ngIf="!data.autoUpdate" class="form-control" ngModel name="versionId"
                  [(ngModel)]="data.version" [disabled]="data.autoUpdate">
                  <option selected disabled [value]="null">Wybierz wersję...</option>
                  <option *ngFor="let version of versions" [value]="version.versionId">
                    {{ version.major }}-{{ version.minor }}-{{
                      version.patch
                    }}</option>
                </select>
              </div>
              <div class="col-xl-4">
                <label for="radioVersion">Typ aktualizacji:</label>
                <div id="radioVersion" class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                  <label class="btn btn-secondary active" (click)="changeAutoUpdate(false)">
                    <input #withoutUpdate type="radio" name="options" autocomplete="off" />
                    Brak
                  </label>
                  <label class="btn btn-secondary" (click)="changeAutoUpdate(true)">
                    <input type="radio" name="options" autocomplete="off" checked />
                    Automatyczna
                  </label>
                </div>
              </div>
            </div>
            <div class="form-row mt-5 mb-3">
              <div class="col">
                <button class="btn btn-success btn-block" (click)="update(settingForm)">
                  Zatwierdź
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
