<div class="container">
  <div class="row mt-4 mr-2 ml-2">
    <div class="col-sm-3">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <img src="{{device?.photoUrl}}" alt="" />
        </div>
        <div class="card-footer">
          <p class="card-text">Rodzaj : {{ device?.kind }}</p>
        </div>
        <div class="card-footer">
          <p class="card-text">Adres MAC : {{ device?.macAddress }}</p>
        </div>
        <div class="card-footer">
          <p class="card-text">Data utworzenia: {{ device?.created | date:'medium' }}</p>
        </div>
        <div class="card-footer">
          <p class="card-text">Aktualna wersja: {{ device?.versionId }}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="card text-white bg-dark">
        <div class="card-header">
          <div class="card-text">Ustawienia</div>
        </div>
        <div class="card-body">

        </div>
        <div class="card-header">
          <div class="card-text">Wersja</div>
        </div>
        <div class="card-body">
          <form #versionForm="ngForm">
            <div class="form-row">
              <div class="col-8">
                <select class="form-control" [ngModel]="null" name="version" ngModel required>
                  <option selected disabled [value]="null">Wybierz wersję...</option>
                  <option *ngFor="let version of versions" [value]="version.versionId">
                    {{version.major}}-{{version.minor}}-{{version.patch}}</option>
                </select>
              </div>
              <div class="col-4">
                <button class="btn btn-success btn-block" [disabled]="!versionForm.valid"
                  (click)="setDevice(versionForm.value.version)">Ustaw</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
