<mat-toolbar color="primary">
  <div>
    <a routerLink="/">
      <img class="logo" src="./assets/img/logo-white.svg" (click)="onToggleSidenav()" />
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <div *ngFor="let group of menuGroups" fxLayout fxLayoutGap="10px">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
        <mat-icon class="group-icon">{{ group.icon }}</mat-icon>
        {{ group.group }}
      </button>
      <mat-menu #menu="matMenu">
        <div *ngFor="let item of group.items">
          <button mat-menu-item [routerLink]="item.path">
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.title }}
          </button>
        </div>
      </mat-menu>
    </div>
  </div>
  <div fxFlex fxLayoutAlign="flex-end" fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
