<div class="wrapper">
  <div class="logo-wrapper" (click)="openSideNavbar()">
    <img class="logo" src="./assets/img/logo-white.svg" />
  </div>
  <mat-nav-list (click)="openSideNavbar()">
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/portal">
      <mat-icon matListIcon>home</mat-icon>Portal
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/admin/devices">
      <mat-icon matListIcon>perm_device_information</mat-icon>
      Devices
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/admin/versions">
      <mat-icon matListIcon>admin_panel_settings</mat-icon>Versions
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item> <mat-icon matListIcon>exit_to_app</mat-icon>Logout </a>
    <mat-divider></mat-divider>
  </mat-nav-list>
</div>
